:root {
  font-size: 62.5%;
  font-family: "Bellefair", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

@media (min-width: 700px) {
  :root {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}

.container {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  color: white;
  padding: 20px;
  height: 100vh;
  position: relative;
}
@media (min-width: 700px) {
  .container {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 1200px) {
  .container {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  height: 10%;
}
.header__logo-image {
  width: 40px;
  height: 40px;
}
.header__line {
  border-bottom: 1px solid gray;
  width: 40%;
  position: absolute;
  top: 7em;
  left: 15em;
  display: none;
}
@media (min-width: 1200px) {
  .header__line {
    display: block;
  }
}
.header__menu-image {
  width: 24px;
  height: 21px;
  cursor: pointer;
}
@media (min-width: 700px) {
  .header__menu-image {
    display: none;
  }
}
.header__menu-list {
  display: none;
}
@media (min-width: 700px) {
  .header__menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
  }
  .header__menu-list-item {
    letter-spacing: 2px;
    padding: 0 20px;
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .header__menu-list {
    margin: auto;
    counter-reset: first;
    counter-reset: second;
  }
  .header__menu-list-item::before {
    content: counter(first) counter(second);
    counter-increment: second;
    margin-right: 15px;
    font-weight: bold;
  }
}
.header__menu-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
@media (min-width: 700px) {
  .header__menu {
    height: 10%;
    background: gray;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    width: 60%;
    top: 2em;
    background: transparent;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

.hidden-menu {
  height: 100%;
  width: 70%;
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  position: absolute;
  top: 0;
  right: 0;
  counter-reset: first;
  counter-reset: second;
  display: none;
}
.hidden-menu__list {
  height: 50%;
  padding-top: 15rem;
  padding-left: 3rem;
  list-style-type: none;
}
.hidden-menu__list-item {
  font-size: 2rem;
  padding: 30px 0;
  letter-spacing: 2px;
}
.hidden-menu__list-item::before {
  content: counter(first) counter(second);
  counter-increment: second;
  margin-right: 15px;
  font-weight: bold;
}
.hidden-menu__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.hidden-menu__close-image {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  cursor: pointer;
}

.hidden {
  display: none;
}/*# sourceMappingURL=destination.css.map */