@import '../assets/base';
@import '../assets/variables';
@import '../assets/mixins';

:root {
    @include media(medium) {
        font-size: 13px;
    }

    @include media(large) {
        font-size: 16px;
    }
}

.container {
    background-image: url('../../assets/technology/background-technology-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    color: white;
    padding: 20px;
    min-height: 100svh;
    position: relative;

    @include media(medium) {
        background-image: url('../assets/technology/background-technology-tablet.jpg');
    }

    @include media(large) {
        background-image: url('../assets/technology/background-technology-desktop.jpg');
    }
}

@import '../assets/header';
@import '../assets/hidden-menu';