@mixin flex($direction: row, $align-items: flex-start, $justify-content: flex-start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify-content;
    @content;
}

@mixin media($breakpoint) {

    $breakpoints: (
        medium: 'min-width: 700px',
        large: 'min-width: 1200px',
    );

$size: map-get($breakpoints, $breakpoint);

@if($size) {
    @media (#{$size}) {
        @content;
    }
}

@else {
    @error '"#{$breakpoint}" - Nie rozpoznaje takiej wielkosci';
}
}

@mixin counter-before-el($content: '') {
    content: $content;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 15px;
    @content;
}